[submodule "libs/httplib"]
	path = libs/httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "libs/tomlplusplus"]
	path = libs/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "libs/cpp-tui"]
	path = libs/cpp-tui
	url = https://github.com/jonoton/cpp-tui
